body {
    font-family: Arial, sans-serif;
    background-color: rgb(27, 25, 25);
    margin: 0;
    padding: 0;
}
.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(49, 58, 65);
    text-align: center;
    border-radius: 4px;
}

#display {
    font-size: 70px;
    margin-bottom: 20px;
    color: white;
}
.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
button {
    padding: 10px;
    width: 80px;
    border-radius: 4px;
    background-color: #860707;
    color: black;
    border: none;
    cursor: pointer;
}

#printTimeDisplay {
    margin-top: 20px;
    color: white;
}
